<div class="chatsHeader">
  <div class="chatsHeader__profileLink">
    <a class="chatsHeader__profileLink__link" href="src/pages/profile/details/profileDetails.hbs"> Профиль </a>
  </div>
  <div class="searchInput">
    <input class="searchInput__input" placeholder="Поиск">
  </div>
</div>
