<div class="chatsHeader">
  <div class="chatsHeader__actionMenu">
    {{{ profileLink }}}
    {{{ createChatButton }}}
  </div>
  <div class="searchInput">
    <input class="searchInput__input" placeholder="Поиск">
  </div>
  {{{ chatDialog }}}
</div>
