<div class="chatsHeader">
  <div class="chatsHeader__profileLink">
    {{{ profileLink }}}
  </div>
  <div class="searchInput">
    <input class="searchInput__input" placeholder="Поиск">
  </div>
</div>
