@import url('src/pages/login/login');
@import url('src/pages/registration/registration');
@import url('src/pages/404/404');
@import url('src/pages/500/500');
@import url('src/pages/profile/details/profileDetails');
@import url('src/pages/profile/edit/profileEdit');

@primary-color: #3369F3;
@secondary-color: #999999;
@error-color: #FF0000;
@text-color: #1E1E1E;
@border-color-1: #d2d2d2;
@border-color-2: #EAEAEA;
@opacity-main: #1976D20A;
@box-shadow-color: #00000023;
@background-color: #FBFBFB;
@white-color: #FFFFFFFF;





// Стили главной страницы (чаты)
.main-page {
  width: 100%;
  display: flex;

  &__chatsList {
    padding-top: 20px;
    width: 25%;
    background: @background-color;
    flex-shrink: 1;
    border-right: 1px solid @border-color-2;
  }

  &__currentChat {
    width: 75%;
    height: 100vh;
    color: @secondary-color;
  }
}

.currentChat__messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.currentChat__message {
  height: 10%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid @border-color-2;

  &__input {
    border: 1px solid @border-color-1;
    background: @background-color;
    border-radius: 30px;
    outline: 0;
    padding: 10px 20px;
    color: @text-color;
    width: 85%;
  }

  &__sendMessage,
  &__addFile {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    outline: none;
    border: none;

    &:hover {
      opacity: .8;
    }
  }

  &__addFile {
    background: url("static/add_file.svg");
    margin-right: 10px;
  }

  &__sendMessage {
    background: url("static/right_arrow.svg");
    margin-left: 10px;
  }
}

.chatsList__nav {
  color: @secondary-color;
}

.nav__list {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__link {
    &::after {
      margin-left: 5px;
      margin-right: 10px;
      content: "❯";
    }

    &:hover {
      color: @primary-color;
    }
  }
}
