@import url('/src/styles/variables');

.button {
  background: @primary-color;
  border-radius: 8px;
  cursor: pointer;
  color: @white-color;
  width: 280px;
  height: 37px;
  outline: none;
  border: none;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
  }

  &__ghost {
    background: @white-color;
    color: @primary-color;

    &:hover {
      background: rgb(@opacity-main 0.04);
    }
  }
}
