<!DOCTYPE html>
<html lang="ru">
<head>
  <title>My first sprint</title>
  <link rel="stylesheet" href="../../../style.less">
</head>
<body>
<div class="profile">
  <div class="profile__sidebar">
    <a href="/" class="profile__sidebar__backButton"></a>
  </div>
  <div class="profile__content">
    <div class="profile__header">
      <div class="header__avatar">
        <img class="avatar__image" src="../../../static/user__avatar.png" alt="user__avatar">
      </div>
      <div class="header__name">Иван</div>
    </div>
    <div class="profile__data">
      {{>textField label="Почта" value="pochta@yandex.ru" }}
      {{>textField label="Логин" value="ivanivanov" }}
      {{>textField label="Имя" value="Иван" }}
      {{>textField label="Фамилия" value="Иванов" }}
      {{>textField label="Имя в чате" value="Иван" }}
      {{>textField label="Телефон" value="+7 (909) 967 30 30" }}
    </div>
    <div class="profile__action">
        <div class="profile__action__button">
          {{>link url="/src/pages/profile/edit/profileEdit.hbs" text="Изменить данные" type="large"}}
        </div>
        <div class="profile__action__button">
          {{>link url="/src/pages/profile/changePassword/changePassword.hbs" text="Изменить пароль" customClass="profile__action__link" type="large"}}
        </div>
        <div class="profile__action__button">
          {{>link url="/" text="Выйти" color="red" type="large" }}
        </div>
      </div>
  </div>
</div>
</body>
</html>




