<!DOCTYPE html>
<html lang="ru">
<head>
  <title>My first sprint</title>
  <link rel="stylesheet" href="../../../style.less">
</head>
<body>
  <main class="errorPage__wrapper">
    <h1 class="errorPage__title">500</h1>
    <h2 class="errorPage__subtitle">Мы уже фиксим</h2>
    <div class="errorPage__backButton">
      {{>link url="/" text="Назад к чатам" }}
    </div>
  </main>
</body>
</html>
