<main class="errorPage__wrapper">
  <h1 class="errorPage__title">500</h1>
  <h2 class="errorPage__subtitle">Мы уже фиксим</h2>
  <div class="errorPage__backButton">
    {{{ homeLink }}}
  </div>
</main>
