<div class="messageInput">
  <button class="messageInput__addFile"></button>
  <input type="text" id="message" class="messageInput__input" name="message" placeholder="Сообщение" />
  <button class="messageInput__sendMessage"></button>
</div>
