@primary-color: #3369F3;
@secondary-color: #999999;
@error-color: #FF0000;
@text-color: #1E1E1E;
@border-color-1: #d2d2d2;
@border-color-2: #EAEAEA;
@opacity-main: #1976D20A;
@opacity-secondary: #E4EDFD;
@box-shadow-color: #00000023;
@background-color: #FBFBFB;
@background-color-2: #EFEFEF;
@background-color-3: #F8F8F8;
@background-color-error: #D32F2FFF;
@white-color: #FFFFFFFF;
@black-color: #000000FF;
