<div class="message__card message__card-{{ type }}">
  <div class="message__card__message">
   {{{ message  }}}
  </div>
  <div class="message__card__time message__card__time-{{ type }}">
    {{{ time }}}
  </div>
</div>
