<form class="overlay" id="dialog-form">
  <div class="dialog">
    <h3 class="dialog__title">
      {{ title }}
    </h3>
    <div class="dialog__content">
      {{{ content }}}
    </div>
    <div class="dialog__actions">
      {{{ cancel }}}
      {{{ submit }}}
    </div>
  </div>
</form>
