<main class="notFound__wrapper">
  <h1 class="notFound__title">404</h1>
  <h2 class="notFound__subtitle">Не туда попали</h2>
  <div class="notFound__backButton">
    {{{ homeLink }}}
  </div>
</main>
