<!DOCTYPE html>
<html lang="ru">
<head>
  <title>My first sprint</title>
  <link rel="stylesheet" href="../../../../style.less">
</head>
<body>
<div class="profile">
  <div class="profile__sidebar">
    <a href="/" class="profile__sidebar__backButton"></a>
  </div>
  <div class="profile__content">
    <div class="profile__header">
      <div class="header__avatar">
        <img class="avatar__image" src="../../../../static/user__avatar.png" alt="avatar">
      </div>
      <div class="header__name">Иван</div>
    </div>
    <div class="profileEdit__data">
      {{>inputField type="password" id="registration-form__password[0]" label="Старый пароль" name="oldPassword" }}
      {{>inputField type="password" id="registration-form__password[1]" label="Новый пароль" name="newPassword" }}
      {{>inputField type="password" id="registration-form__password[2]" label="Повторите новый пароль" name="newPassword" }}
    </div>
    <div class="profileEdit__actionButton">
      {{>button label="Сохранить" }}
    </div>
  </div>
</div>
</body>
</html>