<!DOCTYPE html>
<html lang="ru">
<head>
  <title>My first sprint</title>
  <link rel="stylesheet" href="../../../../style.less">
</head>
<body>
  <main class="profile">
    <div class="profile__sidebar">
      <a href="/" class="profile__sidebar__backButton"></a>
    </div>
    <div class="profile__content">
      <div class="profile__header">
        <div class="header__avatar">
          <img class="avatar__image" src="../../../../static/user__avatar.png" alt="avatar">
        </div>
        <div class="header__name">Иван</div>
      </div>
      <form class="profileEdit__data">
        {{>inputField type="password" id="registration-form__password[0]" label="Старый пароль" name="oldPassword" }}
        {{>inputField type="password" id="registration-form__password[1]" label="Новый пароль" name="newPassword" }}
        {{>inputField type="password" id="registration-form__password[2]" label="Повторите новый пароль" name="newPassword" }}
        <div class="profileEdit__actionButton">
          {{>button label="Сохранить" type="submit"}}
        </div>
      </form>
    </div>
  </main>
</body>
</html>
